.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(102, 82, 82);
}

.content-container {
  background-color: #242121; 
  padding: 5px;
}

.button-container {
  margin-bottom: 10px;
}

.background-around-button {
  background-color: #393f7a;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card.expenses {
  margin-top: 10px;
  background-color: #312626;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expense-item__description h2 {
  font-weight: bold;
  margin-bottom: 5px;
}

.expense-item__price {
  font-weight: bold;
}

.expense-date {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.expense-date__month {
  font-weight: bold;
}

.expense-date__year,
.expense-date__day {
  font-size: 12px;
}

.expense-item__description {
  padding-left: 10px;
}

body{
  background-color:#312727;
}